:root {
    --brand-color: #FFFFFF;
    --brand-color-main: #E5E5E5;
    --brand-color-footer: #2F303A;
    --barnd-color-aktyw: #2196F3;

}
*,
*::after,
*::before {

    margin:0;
    padding:0;
}
body {
    color:#000000;
    background-color: #E5E5E5;
    margin: 0;
}
.header {
    background-color: var(--brand-color);

}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.menu {
    display: flex;
    align-items: center;
}
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0,03em;
    color: #2196F3;
    text-decoration: none;
    display: flex;

}
.logo span {
    color: #000000;
}

.social-links {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0,02em;
    color: #212121;
    text-decoration: none;
    padding: 10px;

}
.social-links .link:active {
    color: var(--barnd-color-aktyw);
}
.kontakt {
    display: flex;
    align-items: center;
}
.kontakt-dane {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0,02em;
    color: #757575;
    text-decoration: none;
    padding: 20px;
}
.kontakt {
    list-style-type: none;
}
.kontakt .kontakt-dane:active {
    color: var(--barnd-color-aktyw);
}
.kontakt-dane:hover {
    color: var(--barnd-color-aktyw);
}

.section {
    padding: 94px 0;
}
.filtr {
    display: flex;
    align-items: center;
    justify-content:center;
    /* padding-bottom: 50px; */
}
.btn1 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1,6;
    text-align: center;
    letter-spacing: 0,03em;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 5px;
    border: none;
    padding: 6px 22px;
    max-width: 121px;
    margin-right: 8px;
}
.btn2 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1,6;
    text-align: center;
    letter-spacing: 0,03em;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 5px;
    border: none;
    padding: 6px 22px;
    max-width: 93px;
    margin-right: 8px;
}
.btn3 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1,6;
    text-align: center;
    letter-spacing: 0,03em;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 5px;
    border: none;
    padding: 6px 22px;
    max-width: 114px;
    margin-right: 8px;
}
.btn4 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1,6;
    text-align: center;
    letter-spacing: 0,03em;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 5px;
    border: none;
    padding: 6px 22px;
    max-width: 91px;
    margin-right: 8px;
}
.btn5 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1,6;
    text-align: center;
    letter-spacing: 0,03em;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 5px;
    border: none;
    padding: 6px 22px;
    max-width: 121px;
    margin-right: 8px;
}
.filtr .btn1:hover,
.filtr .btn2:hover,
.filtr .btn3:hover,
.filtr .btn4:hover,
.filtr .btn5:hover {
    color: var(--brand-color);
    background-color: var(--barnd-color-aktyw);
}
.obrazy {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0;
}

.obrazy .wyglad1 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0,06em;
    color: #212121;
    padding-top: 20px;
    padding-bottom: 4px;
}
.obrazy .wyglad2 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1,9;
    letter-spacing: 0,03em;
    color: #757575;
    padding-bottom: 50px;
}

.filtr {
    list-style-type: none;
}
.kontakt {
    list-style-type: none;
}
.obrazy {
    list-style-type: none;
}
.btn {
    cursor: pointer;
}
.btn1 {
    cursor: pointer;
}
.naglowek {
    background-color: var(--brand-color);
}
.srodek {
    background-color: var(--brand-color-main);
}
.stopka {
    background-color: var(--brand-color-footer);
}

.stopka-content {
    display: flex;
    flex-direction: column;

}
.logo1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0,03em;
    color: #2196F3;
    text-decoration: none;
    display: flex;
    margin-top: 60px;
    margin-bottom: 20px;
    max-width: 145px;
}
.logo1 span1 {
    color: #FFFFFF;
}
.adres-opis {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0,03em;
    color: #FFFFFF;
    max-width: 246px;
    margin-bottom: 9px;

}
.kontakt-stopka {
    list-style-type: none;
    padding: 0;
    margin-bottom: 60px;
}
.info1 {
    margin-bottom: 9px;
}
.kontakt-stopka .info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0,03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    max-width: 231px;

}
.info:hover,
.info:focus {
    color: var(--barnd-color-aktyw);
}
.kontakt-stopka .info:active {
    color: var(--barnd-color-aktyw);
}




